@model DogDesk.Models.PetContact

@{
    ViewData["Title"] = "Create";
}

<h3>Add Emergency Contact</h3>

<h5>Emergency Contact Information</h5>
<br />

<form asp-action="Create">
    <div class="row">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmergencyContact.FirstName" class="control-label"></label>
                <input asp-for="EmergencyContact.FirstName" class="form-control" />
                <span asp-validation-for="EmergencyContact.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContact.LastName" class="control-label"></label>
                <input asp-for="EmergencyContact.LastName" class="form-control" />
                <span asp-validation-for="EmergencyContact.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContact.HomePhone" class="control-label"></label>
                <input asp-for="EmergencyContact.HomePhone" class="form-control" />
                <span asp-validation-for="EmergencyContact.HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContact.CellPhone" class="control-label"></label>
                <input asp-for="EmergencyContact.CellPhone" class="form-control" />
                <span asp-validation-for="EmergencyContact.CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContact.WorkPhone" class="control-label"></label>
                <input asp-for="EmergencyContact.WorkPhone" class="form-control" />
                <span asp-validation-for="EmergencyContact.WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pet Name: </label>
                <input disabled asp-for="Pet.Name" class="form-control" />
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="Pet.Id" name="PetId" />
    <div class="col-md-12 form-group text-right">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div class="text-right">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
