@model IEnumerable<DogDesk.Models.ServicePet>

@{
    ViewData["Title"] = "TimeLineCalendar";
}

<div id="calendar"></div>
<div id="event-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title event-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body event-body">
                <dl class="row">
                    <dt class="col-sm-4">Service Type</dt>
                    <dd class="col-sm-8"><select asp-items="ViewBag.ServiceTypes" class="form-control pet-serviceType"></select></dd>
                    <dt class="col-sm-4">Pet Name</dt>
                    <dd class="col-sm-8">
                        <input type="text" class="form-control pet-name" required autocomplete="off" />
                        <input type="hidden" class="petId" />
                    </dd>
                    <dt class="col-sm-4">Start Date</dt>
                    <dd class="col-sm-8"><input type="datetime-local" class="form-control pet-startdate" /></dd>
                    <dt class="col-sm-4">Check Out Date</dt>
                    <dd class="col-sm-8"><input type="datetime-local" class="form-control pet-checkoutdate" /></dd>
                    <dt class="col-sm-4">Service Notes</dt>
                    <dd class="col-sm-8"><textarea class="form-control pet-serviceNote"></textarea></dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save-event" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    var calendar = null;

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['bootstrap', 'interaction', 'timeGrid'],
            themeSystem: 'bootstrap',
            nowIndicator: true,
            editable: true,
            selectable: true,
            eventStartEditable: false,
            defaultView: 'timeGridWeek',
            header: {
              left: 'prev,next today',
              center: 'title',
              right: 'timeGridWeek,timeGridDay'
            },
            select: function (arg) {
                loadPetForAdd(arg);
                calendar.unselect()
            },
            eventClick: function (info) {
                loadPetInfo(info);
                $("#event-modal").modal("show");
            },
            height: 600,
            events: [
            ],
            allDaySlot: false,
            slotDuration: '00:15:00',
            scrollTime: '06:30:00',
            businessHours: {
              daysOfWeek: [ 0, 1, 2, 3, 4, 5, 6 ], 
              startTime: '06:30', 
              endTime: '18:30'
            },
            validRange: function (nowDate) {
                return {
                    start: nowDate,
                };
            }
        });

        calendar.render();

        $(".pet-name").typeahead({
            minLength: 1,
            source: function (request, response) {
                $.ajax({
                    url: "/ServicePets/GetPetNameList/",
                    data: {
                        "name": request
                    },
                    type: "GET",
                    contentType: "json",
                    success: function (data) {
                        items = [];
                        map = {};
                        $.each(data, function (i, item) {
                            var id = item.id;
                            var name = item.name;
                            map[name] = {
                                id: id,
                                name: name
                            };
                            items.push(name);
                        });
                        response(items);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            updater: function (item) { //If simultaneously want to update value somewhere else
                $(".petId").val(map[item].id); return item;
            }
        });

        loadServicePets();
    });

    //Loads all the Pet up when Calendar loads
    function loadServicePets() {
        $.ajax({
            type: "POST",
            url: "/ServicePets/GetShortServicePets",
            data: JSON.stringify(null),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                $.each(response, function (idx, item) {
                    var end = new Date(moment(item.checkoutDate).format("YYYY-MM-DDTHH:mm:ss"))

                    calendar.addEvent({
                        title: item.idOfPet.name,
                        start: new Date(item.startDate),
                        end: end,
                        allDay: false,
                        extendedProps: {
                            id: item.id,
                            petId: item.petId,
                            petName: item.idOfPet.name,
                            serviceType: item.nameOfService.serviceName,
                            serviceTypeId: item.serviceType,
                            serviceNote: item.serviceNote
                        }
                    });
                });
            }
        });
    }

    function loadPetForAdd(arg) {
        $(".pet-name").val("");
        $(".pet-serviceType").val(0);
        $(".pet-startdate").val("");
        $(".pet-checkoutdate").val("");
        $(".petId").val("");
        $(".pet-serviceNote").val("");

        $(".event-title").html("Add New Event"); // title of modal

        $("#event-modal").modal("show");

        var startDate = moment(arg.start).local().format("YYYY-MM-DDTHH:mm:ss");
        var endDate = moment(arg.end).local().format("YYYY-MM-DDTHH:mm:ss"); //.subtract(1, 'days')
        $(".pet-startdate").val(startDate); //arg.start.toJSON().slice(0, 19)
        $(".pet-checkoutdate").val(endDate); //arg.end == null ? "" : arg.end.toJSON().slice(0, 19)

        $(".btn-save-event").off("click");
        $(".btn-save-event").on("click", function () {

            var end = new Date(moment($(".pet-checkoutdate").val()).local().format("YYYY-MM-DDTHH:mm:ss"))

            var event = calendar.addEvent({
                title: $(".pet-name").val(),
                start: new Date($(".pet-startdate").val()),
                end: end,
                allDay: false,
                extendedProps: {
                    id: 0,
                    petId: $(".petId").val(),
                    petName: $(".pet-name").val(),
                    serviceTypeId: $(".pet-serviceType").val(),
                    serviceNote: $(".pet-serviceNote").val()
                }
            });

            var postData = {
                PetId: $(".petId").val(),
                StartDate: moment($(".pet-startdate").val()).local().format("YYYY-MM-DDTHH:mm:ss"),
                CheckoutDate: moment($(".pet-checkoutdate").val()).local().format("YYYY-MM-DDTHH:mm:ss"),
                ServiceType: $(".pet-serviceType").val(),
                ServiceNote: $(".pet-serviceNote").val()
            };

            $.ajax({
                type: "POST",
                url: "/ServicePets/CreatePet",
                data: JSON.stringify(postData),
                contentType: "application/json",
                dataType: "json"
            }).done(function (response) {
                event.setExtendedProp("id", response.id);
            }).fail(function (response) {
                console.log('Error: ' + response);
            });
        });
    }

    function loadPetInfo(info) {
        $(".pet-name").val("");
        $(".pet-serviceType").val(0);
        $(".pet-startdate").val("");
        $(".pet-checkoutdate").val("");
        $(".petId").val("");
        $(".pet-serviceNote").val("");

        $(".pet-serviceType").val(info.event.extendedProps.serviceTypeId);
        $(".pet-serviceNote").val(info.event.extendedProps.serviceNote);

        $(".event-title").html("Edit " + info.event.title); // title of modal

        //$(".pet-event-title").val(info.event.title);
        $(".petId").val(info.event.extendedProps.petId);

        $.getJSON("/ServicePets/LookupPet?petId=" + info.event.extendedProps.petId, function (data) {
            if (data != null) {
                $(".pet-name").val(data.name);
            }
        });

        var startDate = moment(info.event.start).local().format("YYYY-MM-DDTHH:mm:ss");
        var endDate = moment(info.event.end == null ? "" : info.event.end).local().format("YYYY-MM-DDTHH:mm:ss");

        $(".pet-startdate").val(startDate);
        $(".pet-checkoutdate").val(endDate);

        $(".btn-save-event").off("click");
        $(".btn-save-event").on("click", function () {
            info.event.remove();

            var end = new Date(moment($(".pet-checkoutdate").val()).local().format("YYYY-MM-DDTHH:mm:ss"))

            calendar.addEvent({
                title: $(".pet-name").val(),
                start: new Date($(".pet-startdate").val()),
                end: end,
                allDay: false,
                extendedProps: {
                    id: info.event.extendedProps.id,
                    petId: $(".petId").val(),
                    petName: $(".pet-name").val(),
                    serviceTypeId: $(".pet-serviceType").val(),
                    serviceNote: $(".pet-serviceNote").val()
                }
            });

            var postData = {
                Id: info.event.extendedProps.id,
                PetId: $(".petId").val(),
                StartDate: moment($(".pet-startdate").val()).local().format("YYYY-MM-DDTHH:mm:ss"),
                CheckoutDate: moment($(".pet-checkoutdate").val()).local().format("YYYY-MM-DDTHH:mm:ss"),
                ServiceType: $(".pet-serviceType").val(),
                ServiceNote: $(".pet-serviceNote").val()

            };

            $.ajax({
                type: "POST",
                url: "/ServicePets/UpdatePetService",
                data: JSON.stringify(postData),
                contentType: "application/json",
                dataType: "json"
            }).done(function (response) {
                console.log("updated");
            }).fail(function (response) {
                console.log('Error: ' + response);
            });
        });
    }

</script>

