@model DogDesk.Models.Pet

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit</h3>

<h5>Pet</h5>
<hr />

<form asp-controller="Pets" asp-action="Edit">
    <div class="row">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                @Html.DropDownListFor(x => x.GenderId, new SelectList(ViewBag.animalGenders, "Key", "Value"), new { @class = "form-control" })
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeId" class="control-label"></label>
                @Html.DropDownListFor(x => x.SizeId, new SelectList(ViewBag.animalSizes, "Key", "Value"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="AnimalTypeId" class="control-label"></label>
                @Html.DropDownListFor(x => x.AnimalTypeId, new SelectList(ViewBag.animalTypes, "Key", "Value"), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-5 offset-sm-2">
            <div class="form-group">
                <label asp-for="Color1" class="control-label"></label>
                <input asp-for="Color1" class="form-control" />
                <span asp-validation-for="Color1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color2" class="control-label"></label>
                <input asp-for="Color2" class="form-control" />
                <span asp-validation-for="Color2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breed" class="control-label"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountFood" class="control-label"></label>
                <input asp-for="AmountFood" class="form-control" />
                <span asp-validation-for="AmountFood" class="text-danger"></span>
            </div>
            <label asp-for="PetNote" class="control-label"></label>
            @Html.TextAreaFor(model => model.PetNote, new { @class = "form-control", @rows = 3 })
        </div>
    </div>
    <div class="col-md-12 form-group text-right">
        <input type="submit" value="Save" class="btn btn-primary mt-sm-2" />
    </div>
</form>

<div class="text-right">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
