@model DogDesk.Models.VetRecord

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VetRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetId" class="control-label"></label>
                <select asp-for="PetId" class ="form-control" asp-items="ViewBag.PetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VetName" class="control-label"></label>
                <input asp-for="VetName" class="form-control" />
                <span asp-validation-for="VetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPhone" class="control-label"></label>
                <input asp-for="WorkPhone" class="form-control" />
                <span asp-validation-for="WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Allergy" class="control-label"></label>
                <input asp-for="Allergy" class="form-control" />
                <span asp-validation-for="Allergy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Altered" /> @Html.DisplayNameFor(model => model.Altered)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Rabies" class="control-label"></label>
                <input asp-for="Rabies" class="form-control" />
                <span asp-validation-for="Rabies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bordetella" class="control-label"></label>
                <input asp-for="Bordetella" class="form-control" />
                <span asp-validation-for="Bordetella" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
